<% layout('/layout/boilerplate') %> 

<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-3" >
            <img src="<%=campground.image%>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%=campground.title%></h5>
              <p class="card-text"><%=campground.description%></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-muted"><%=campground.location%></li>
              <li class="list-group-item">$<%=campground.price%>/night</li>
              
            </ul>
            <div class="card-body">
                <a href="/campground/<%= campground._id %>/edit" class="card-link btn btn-warning">EDIT</a>
                <a href="/campground" class="card-link btn btn-warning">All Camp List</a>
                <form class="d-inline mx-2" action="/campground/<%=campground._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger mx-2">Delete</button>
                </form>
            </div>
            
          </div>
    </div>
</div>
